body {
    margin: 0;
    padding: 0;
    background-color: #2eb872ff;
    text-align: center;
    background-image : url("/public/img/background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, repeat;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 280px 100px auto;
    color: white;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
}

.compteur {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


button {
    background: none;
    border: none;
    font-size: 1em;
    color: white;
    font-family: 'Pacifico', cursive;

}

.Title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    padding-top: 50px;
    font-weight: lighter;
}

.Boutons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #fa4659ff;
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgb(61, 61, 61);
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    margin: 0 auto;
    font-size: 2em;
}

#timer {
    font-size: 3em;
}

/* MODAL */
.Modal {
    background-image : url("/public/img/background.svg");
    border: 1px solid white;
    box-shadow: 2px 2px 5px rgb(61, 61, 61);
    width: 40%;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 25%;
    margin-top: -25%;
    padding: 50px;
    position: absolute;
}

.Modal h2 {
    font-family: 'Pacifico', cursive;
    color: white;
    font-weight: ligther;
    font-size: 3em;
    margin: 0 auto;
    font-style: none;
}

.Modal button {
    color: white;
    font-size: 2em;
    padding: 0 40px;
}